services:
  frigate:
    image: ghcr.io/blakeblackshear/frigate:stable
    container_name: frigate
    restart: unless-stopped
    privileged: true
    shm_size: '512mb'
    ports:
      - "5000:5000"   # web UI
      - "8554:8554"   # RTSP restream
      - "8555:8555/tcp" # WebRTC over TCP
      - "8555:8555/udp" # WebRTC over UDP
      - "1935:1935"   # RTMP (optional)
    environment:
      FRIGATE_RTSP_PASSWORD: "WeUseFrigate1!"
    volumes:
      - /mnt/d/DockerHost/services/frigate/config:/config
      - /mnt/d/DockerHost/services/frigate/media:/media
      - /dev/bus/usb:/dev/bus/usb  # if using Coral EdgeTPU
    devices:
      - /dev/dri:/dev/dri  # optional for VAAPI GPU acceleration
